/*
Course: MAD9022 Cross-Platform App Development
Student: Vladimir Tonkonogov
Project: Midterm App built using HTML, CSS & JavaScript and compiled for Android using Cordova
 */
/**************************************
          DEFAULTS
***************************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:link,
*:visited,
*:hover,
*:active,
*:focus,
.active {
    -webkit-transition: color .5s linear, background-color .7s ease-out, opacity .5s ease-in-out, -webkit-transform .6s;
    transition: color .5s linear, background-color .7s ease-out, opacity .5s ease-in-out, transform .6s .1s;
}

html,
body {
    background-color: #222;
}

body {
    font-size: 5vmin;
    /* set the starting size for the app */
}

h2 {
    font-family: 'Julius Sans One', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.4rem;
    line-height: 1.6;
    color: #eee;
}

h4 {
    font-family: 'Julius Sans One', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #a4a5b5;
    font-size: 1.4rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

p,
li {
    font-size: 1.2rem;
    line-height: 2;
    color: ##a4a5b5;
    font-family: 'Antic Didone', Goudy Old Style, Garamond, Times New Roman, serif;
}
/*************************************
        Layout
*************************************/

[data-role=page] {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    top: 3rem;
    color: #eee;
    background-color: #444;
    padding: 1rem;
    border-radius: 15px;
    border: 2px solid #eee;
}

[data-role=overlay] {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.82);
}

[data-role=modal] {
    position: fixed;
    top: 20%;
    left: 10%;
    width: 80%;
    z-index: 15;
    max-height: 80%;
    padding: 5vh;
    border-radius: 15px;
    border: 1px solid #eee;
    min-height: 10%;
    color: #eee;
    background-color: rgba(68, 68, 68, 0.82);
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
}
/**************************************
          TITLE
***************************************/

.apptitle {
    height: 3rem;
    background-color: #444;
    color: #FFDEEB;
    border-radius: 0 0 15px 15px;
    border: 2px solid #eee;
}

.apptitle h1 {
    font-size: 1.0rem;
    line-height: 2rem;
    padding: 0.5rem 1.0rem;
    text-align: center;
    letter-spacing: 10px;
    word-spacing: 10px;
    font-family: 'Julius Sans One', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*************************************
        Pages
*************************************/

[data-role=listview] {
    /*    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
    
    list-style: none;
}

[data-role=listview] li {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 3rem;
    height: 3rem;
    border: 1px solid #444;
    color: #444;
    background: #eee;
    padding: 0 1rem;
    cursor: pointer;
}
/*
[data-role=listview] li.active {
    background: #33b5e5;
    color: #eee;
    background: #444;
    }
*/
/*************************************
        Forms
*************************************/

.formBox {
    padding: 0.6rem 0;
}

input,
select {
    line-height: 1.6rem;
    font-size: 1.2rem;
    padding: 0 1rem;
    max-width: 90%;
}

.narrow {
    width: 2rem;
}

.btn {
    width: auto;
}

.med {
    width: 10rem;
}

.lg {
    width: 25rem;
}

.xlg {
    width: 40rem;
}
/*************************************
        Modals
*************************************/

#closeButton {
    font-family: 'Julius Sans One', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: #444;
    background: #eee;
    border-radius: 10px;
    position: absolute;
    margin-top: 4rem;
    bottom: 0;
}
/*

#closeButton.active {
    font-family: 'Julius Sans One', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: #eee;
    background: #444;
    //background: #33b5e5;
    border-radius: 10px;
}
*/